<div class="create-maker-container">
    <form class="example-form" [formGroup]="MakerFormGroup">

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Location</mat-label>
            <input matInput #location>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+</span>
            <input formControlName="phone" type="tel" matInput placeholder="380684898680">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Site</mat-label>
            <input matInput formControlName="site"  placeholder="http://">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Open Time</mat-label>
                        <input formControlName="oTime" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Close Time</mat-label>
                        <input formControlName="cTime" matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <app-upload-image (loadedPhoto)="loadedPhoto = $event"></app-upload-image>
        <div class="actions">
            <button mat-stroked-button color="warn" (click)="back()">Back</button>
            <button mat-stroked-button color="accent" (click)="create()">Create Maker</button>
        </div>

    </form>
</div>

